# P-p-pandas, y'all

In [2]:
import pandas as pd

## Series

A 1-D array-like object containing 
+ a sequence of values 
+ an associated array of labels (index)

In [3]:
obj = pd.Series([1, 4, 7, 33])

In [4]:
obj

0     1
1     4
2     7
3    33
dtype: int64

^^^^ This output is a string representation

In [5]:
obj.values

array([ 1,  4,  7, 33])

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'u', 'm', 'b'])

In [9]:
obj2

d    4
u    7
m   -5
b    3
dtype: int64

In [11]:
obj2.index

Index(['d', 'u', 'm', 'b'], dtype='object')

In [12]:
obj2.values

array([ 4,  7, -5,  3])

In [14]:
obj2['u']

7

In [15]:
obj2['d'] = 69

In [16]:
obj2

d    69
u     7
m    -5
b     3
dtype: int64

In [17]:
obj2[['d', 'u', 'b']]

d    69
u     7
b     3
dtype: int64

In [18]:
obj2[obj2 > 0]

d    69
u     7
b     3
dtype: int64

In [19]:
obj2[obj2 < 0]

m   -5
dtype: int64

In [20]:
obj2 * 2

d    138
u     14
m    -10
b      6
dtype: int64

In [22]:
import numpy as np
np.exp(obj2)

d    9.253782e+29
u    1.096633e+03
m    6.737947e-03
b    2.008554e+01
dtype: float64

In [23]:
'b' in obj2

True

A series is a fixed-length, ordered dict, as a mapping of index values to data values.

Can convert a dict into a Series

In [28]:
state_population = {'FL': 30000, 'OH': 50000, 'GA': 69000}

pops = pd.Series(state_population)

pops

FL    30000
GA    69000
OH    50000
dtype: int64

The keys of the dict become the index

In [35]:
states = ['Florida', 'Ohio', 'Georgia', 'FL', 'OH', 'GA']
obj4 = pd.Series(state_population, index=states)

In [36]:
obj4

Florida        NaN
Ohio           NaN
Georgia        NaN
FL         30000.0
OH         50000.0
GA         69000.0
dtype: float64

In [37]:
pd.notnull(obj4)

Florida    False
Ohio       False
Georgia    False
FL          True
OH          True
GA          True
dtype: bool

In [38]:
pd.isnull(obj4)

Florida     True
Ohio        True
Georgia     True
FL         False
OH         False
GA         False
dtype: bool

In [39]:
obj4.isnull()

Florida     True
Ohio        True
Georgia     True
FL         False
OH         False
GA         False
dtype: bool

In [40]:
pops + obj4

FL          60000.0
Florida         NaN
GA         138000.0
Georgia         NaN
OH         100000.0
Ohio            NaN
dtype: float64

A useful Series feature for many applications is that it automatically aligns by index label in arithmetic operations.

In [41]:
obj4.name = 'populat1on'

In [42]:
obj4

Florida        NaN
Ohio           NaN
Georgia        NaN
FL         30000.0
OH         50000.0
GA         69000.0
Name: populat1on, dtype: float64

In [43]:
obj4.index.name = 'state'

In [44]:
obj4

state
Florida        NaN
Ohio           NaN
Georgia        NaN
FL         30000.0
OH         50000.0
GA         69000.0
Name: populat1on, dtype: float64

In [47]:
obj4.index = [1, 4, 5, 6, 9, 10]

In [48]:
obj4

1         NaN
4         NaN
5         NaN
6     30000.0
9     50000.0
10    69000.0
Name: populat1on, dtype: float64