# Summarizing and Computing Descriptive Statistics

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame([[3, 4], [10, 14], [12, 19], [20, 40]],
                 index=['a', 'b', 'c', 'd'],
                 columns=["one", "two"])

In [4]:
df

   one  two
a    3    4
b   10   14
c   12   19
d   20   40

In [5]:
df.sum()

one    45
two    77
dtype: int64

In [6]:
df.sum(axis='columns')

a     7
b    24
c    31
d    60
dtype: int64

In [7]:
df.mean(axis='columns')

a     3.5
b    12.0
c    15.5
d    30.0
dtype: float64

In [9]:
df.idxmax()

one    d
two    d
dtype: object

In [10]:
df.describe()

             one        two
count   4.000000   4.000000
mean   11.250000  19.250000
std     6.994045  15.173991
min     3.000000   4.000000
25%     8.250000  11.500000
50%    11.000000  16.500000
75%    14.000000  24.250000
max    20.000000  40.000000